<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add film</title>
</head>
<body>
<form method="post" th:action="${mode == '/addFilm'}" th:object="${Film}">
    Tytuł: <input type="text" th:field="*{title}"><br/>
    Data premiery: <input type="date" th:field="*{releaseDate}" min="1890-01-01" max="2020-12-31" />
    Opis: <textarea rows="30" placeholder="Opis filmu..." th:field="*{description}"></textarea><br/>
    Kategoria:
    <select th:field="*{species}">
        <option disabled selected value="">Wybierz...</option>
        <option value="THRILLER">triller</option>
        <option value="KOMEDIA">komedia</option>
        <option value="DRAMAT">dramat</option>
        <option value="ANIMOWANY">animowany</option>
        <option value="PRZYGODOWY">przygodowy</option>
        <option value="FANTASY">fantasy</option>
        <option value="HORROR">horror</option>
    </select><br/>
    <input type="submit" value="Dodaj">
</form>
</body>
</html>